.scrollup {
	width: 50px;
	height: 50px;
	position: fixed;
	bottom: 50px;
	right: 100px;
	/*<!--display: none;-->*/
	z-index: 9999999;
	/*text-indent: -9999px;*/
	/*<!--background-image: fa-caret-up url('img/icon_top.png');-->*/
	background-repeat: no-repeat;
	background-position: center;
	/*background-color: rgba(34, 34, 34, 0.6);*/
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	-ms-transition-duration: 0.4s;
	transition-duration: 0.4s;

	font-family: FontAwesome;
	font-size: 1em;
}

/*https://codepen.io/davidlazar/pen/dcxou*/
body:after{
  content: "beta";
  position: fixed;
  width: 80px;
  height: 25px;
  background: #EE8E4A;
  top: 7px;
  right: -20px;
  text-align: center;
  font-size: 13px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  line-height: 27px;
  -ms-transform:rotate(45deg);
  -webkit-transform:rotate(45deg);
  transform:rotate(45deg);
}


/* Temporary navbar container fix */
.navbar-toggler {
    z-index: 1;
}

@@media (max-width: 576px) {
    nav > .container {
        width: 100%;
    }
}
/* Temporary fix for img-fluid sizing within the carousel */
   
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
    display: block;
}
html {
    overflow-y: scroll;
}

.dropdown-menu{
    margin: 0;
}
 
@media (min-width: 979px) {
  .dropdown:hover > .dropdown-menu-on-hover {
    display: block;
    margin: 0;
  }
}

.card{
	overflow-x:hidden;
}
